<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Microsoft Cognitive Services - Face API</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
	<form action="#" th:action="@{/detect}" th:object="${model}"
		method="post">
		<p>
			API key: <input type="text" th:field="*{key}" />
		</p>
		<p>
			Picture URL: <input type="text" th:field="*{url}" />
		</p>
		<p>
			Face Attributes (age, gender, headPose, smile, facialHair, glasses,
			emotion, hair, makeup, occlusion, accessories, blur, exposure,
			noise): <input type="text" th:field="*{attributes}" />
		</p>
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
	</form>
</body>
</html>